<link rel="stylesheet" href="/css/style.css">

<h1>Welcome!</h1>
<oi>
    <% for(let post of posts) { %>
        <% if (post.board_type_id!=3) { %> 
            <li><a href="/post/detail/<%= post.post_id %>">
                제목: <%=post.title %></a>
            </li>
        <% } %>
    <% } %>

    <li>------아래의 게시판들은 질문 게시판------</li>
    <% for(let post of posts) { %>
        <% if (post.board_type_id==3) { %> 
            <li><a href="/question/read/<%= post.post_id %>">
                제목: <%=post.title %></a>
            </li>
        <% } %>
    <% } %>
</oi>