<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <%- style %>
    </head>
    <body>
        <a href="/"><h1>WEB</h1></a>
        <a href="/post/create">Create</a>
        <a href="/question">질문 게시판 이동</a>
        <%- body %>
    </body>
    </html>