
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">홈화면 가기</a>
    <oi>
    <% for(let post of posts) { %>
        <li><a href="/post/detail/<%= post.post_id %>">
            제목: <%=post.title %></a>
        </li>
    <% } %>
    </oi>
    <p><a href="/post/create">Create</a></p>
        <form action="/post/create" method="post">
            <input type="text" name="title" placeholder="title">
            <textarea name="content" id="" cols="20" placeholder="content"></textarea>
            <button type="submit">글 작성 완료</button>
        </form>
</body>
</html>
