<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <%- style %>
        <link rel="stylesheet" href="/highlight/styles/github-dark.min.css">
        <script src="/highlight/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </head>
    <body>
        <a href="/"><h1>홈화면</h1></a>
        <%- body %>
    </body>
    </html>